<ion-modal-view>

    <ion-header-bar>
        <div class="form-heading">Create Notification</div>
    </ion-header-bar>

        <ion-content>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Beer
                    </div>

                    <select ng-model="notify.beerId">
                            <option ng-repeat="(key, beer) in beers" value="{{key}}">{{beer.name}}</option>
                    </select>
                </label>

                <label class="item item-input">
                    <input type="textarea" placeholder="Comment" ng-model="notify.comment">
                </label>

                <button ng-click="createNotification(notify)">Create Notification{{key}}</button>


        </ion-content>

</ion-modal-view>
