<ion-modal-view>

    <ion-header-bar>
        <div class="form-heading">{{customer.heading}}</div>
    </ion-header-bar>

    <ion-content>
    <div class="list modal-form">
        
        <label class="item item-input">
            <input type="text" placeholder="First Name" ng-model="customer.fname">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Last Name" ng-model="customer.lname">
        </label>
        <div class="check-text">
            <label class="checkbox">
                <input type="checkbox" ng-model="customer.receiveEmail">
            </label>
            Email Notification?
        </div>

        <label class="item item-input">
            <input type="text" placeholder="Email" ng-model="customer.email">
        </label>

        <div class="check-text">
            <label class="checkbox">
                <input type="checkbox" ng-model="customer.receiveText">
            </label>
            Text Notification?
            {{ customer.receiveText}}
        </div>

        <label class="item item-input">
            <input type="text" placeholder="Phone" ng-model="customer.phone">
        </label>

        <!-- new patron beer form -->
        <div ng-hide="customer.exists" class="beer-selection-inputs">

            <label ng-repeat="(key, beer) in beers">
                <input type="checkbox" checklist-model="customer.beers" checklist-value="key">{{beer.name}}
            </label>

{{customer.beers}}
            <!-- <label ng-if="customer.beers" class="item item-input item-select">
                    <div class="input-label">
                           <div class="custom-form-text">Beer</div>
                    </div>

                    <select ng-model="customer.beers">
                        <option ng-repeat="(key, beer) in beers" value="{{key}}">{{beer.name}}</option>
                    </select>
            </label>

            <label ng-if="customer.beers.beer2.length > 0" class="item item-input item-select">
                    <div class="input-label">
                           <div class="custom-form-text">Beer</div>
                    </div>

                    <select ng-model="customer.beers.beer3">
                        <option ng-repeat="(key, beer) in beers" value="{{key}}">{{beer.name}}</option>
                    </select>
            </label> -->
        </div>

        <!-- existing patron beer form -->
        <div ng-show="customer.exists" class="beer-selection-inputs">

            <label ng-repeat="(key, beer) in beers">
                <input type="checkbox" checklist-model="customer.beers" checklist-value="key">{{beer.name}}
            </label>

{{customer.beers}}

            <!-- <label class="item item-input item-select">
                    <div class="input-label">
                           <div class="custom-form-text">Beer</div>
                    </div>

                    <select ng-model="patronBeers.beers.beer1">
                        <option ng-repeat="(key, beer) in beers" value="{{key}}" selected="patronBeers.beers.beer1">{{beer.name}}</option>
                    </select>
            </label>

            <label class="item item-input item-select">
                    <div class="input-label">
                           <div class="custom-form-text">Add Beer</div>
                    </div>

                    <select ng-model="customer.beers.beer2">
                        <option ng-repeat="(key, beer) in beers" value="{{key}}">{{beer.name}}</option>
                    </select>
            </label> -->

            <!-- <label class="item item-input item-select">
                    <div class="input-label">
                           <div class="custom-form-text">Beer</div>
                    </div>

                    <select ng-model="patronBeers.beers.beer1">
                        <option ng-repeat="(key, beer) in beers" value="{{key}}" selected="patronBeers.beers.beer1">{{beer.name}}</option>
                    </select>
            </label>

            <label ng-if="true" class="item item-input item-select">
                    <div class="input-label">
                           <div class="custom-form-text">Beer</div>
                    </div>

                    <select ng-model="patronBeers.beers.beer2">
                        <option ng-repeat="(key, beer) in beers" value="{{key}}" selected="patronBeers.beers.beer2">{{beer.name}}</option>
                    </select>
            </label>

            <label ng-if="true" class="item item-input item-select">
                    <div class="input-label">
                           <div class="custom-form-text">Beer</div>
                    </div>

                    <select ng-model="patronBeers.beers.beer3">
                        <option ng-repeat="(key, beer) in beers" value="{{key}}" selected="patronBeers.beers.beer3">{{patronBeers.beers.beer3.name}}</option>
                    </select>
            </label> -->
        </div>

        <button ng-hide="customer.exists" ng-click="createPatron(customer)">Create Patron</button>
        <button ng-show="customer.exists" ng-click="updatePatron(customer)">Update Patron</button>

    </div>
</ion-content>

</ion-modal-view>
