<ion-tabs class="tabs-icon-top tabs-color-active tabs-bottom">

    <ion-tab title="Home" icon="ion-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Beers" icon="ion-beer" badge="1" href="#/tab/beers">
        <ion-nav-view name="tab-beers"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Patrons" icon="ion-person" href="#/tab/patrons">
        <ion-nav-view name="tab-patrons"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Notifications" icon="ion-paper-airplane" href="#/tab/notifications">
        <ion-nav-view name="tab-notifications"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon="ion-navicon-round" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

</ion-tabs>