<ion-view view-title="Notification">
    <ion-content has-bouncing="true" class="background-style">

        <div class="beer-show-container">
            <div class="beer-title">{{thisBeer.name}}</div>
            <div class="beer-info-wrap">
                <div class="beer-info">
                    <div class="">{{thisBeer.style}}</div>
                    <div class="">{{thisBeer.brewery}}</div>
                    <div class="">{{thisBeer.breweryLocation}}</div>
                    <div class="">{{thisBeer.comment}}</div>
                </div>
                <div class="beer-icon">
                    <img ng-src="{{thisBeer.image}}" class="beer-image" />
                </div>
            </div>
            <div class="" ng-click="editBeer()">Edit Beer</div>
        </div>

        <div class="beer-show-container">
            <div class="beer-title">Subscribed Patrons</div>
                <div class="" ng-repeat="subPatron in subPatrons">
                    <div class="">{{subPatron.fname}}</div>
                </div>
        </div>

    </ion-content>
</ion-view>